---
layout: default
title: lacti's blog
---
		<div class="row">
			<div class="col-lg-8">
				<ul id="indexes">
				{% for post in site.posts %}
					{% unless post.next %}
						<h3>{{ post.date | date: '%b. %Y.' }}</h3>
					{% else %}
						{% capture year %}{{ post.date | date: '%b. %Y.' }}{% endcapture %}
						{% capture nyear %}{{ post.next.date | date: '%b. %Y.' }}{% endcapture %}
						{% if year != nyear %}
							<h3>{{ post.date | date: '%b. %Y.' }}</h3>
						{% endif %}
					{% endunless %}
					<li>
						<span>{{ post.date | date: '%d' }}</span>
						<a href="{{ post.url }}">{{ post.title }}</a>
					</li>
				{% endfor %}
				</ul>
			</div>

			<div class="col-lg-4">
				<div class="well">
					<h4 class="well-title">Recent Posts</h4>
					<ul>
					{% for post in site.posts limit:6 %}
						<li><a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date_to_string }}</span></li>
					{% endfor %}
					</ul>
				</div>
