* {
	font-family: "맑은 고딕", Consolas;
}

body {
	text-align: center;
}

#content {
	width: 90%;
	min-width: 480px;
    margin: 0px auto;
    text-align: left;
	font-size: 0.98em;
	line-height: 1.5em;
}