---
layout: default
---
		<div class="row">
			<div class="col-lg-8">
				<h1 class="page-title">{{ page.title }}</h1>
				<hr>
				<div class="content">
				{{ content }}
				</div>
			</div>

			<div class="col-lg-4 sides">
				<div class="well">
					<h4 class="well-title">Recent Posts <a href="/" class="show-all">(all)</a></h4>
					<ul>
					{% for post in site.posts limit:6 %}
						<li><a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date_to_string }}</span></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
